* {
	font-family: 'Montserrat', sans-serif;
}

body {
  background: salmon;
}

h1, h2 {
	color: white;
}

table {
	border: 20px solid purple;
	empty-cells: hide;
}

td {
	padding: 20px;
	border-radius: 15px;
  border: 1px solid black;
  background: white;
}

th {
	background-color: #F7B733;
	color: rgb(204, 9, 100);
}