* {
	font-family: 'Montserrat', sans-serif;
	color: purple;
}

body {
  background: salmon;
}

h1, h2 {
	background-color: #F7B733;
	color: white;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	border: coral 30px groove;
}

table {
	border: 20px solid purple;
	empty-cells: show;
}

td {
	padding: 20px;
	border-radius: 15px;
  border: 1px solid black;
	background: pink;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

th {
	background-color: orange;
	color: rgb(204, 9, 100);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
	background-color: green;
	color: blueviolet;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
}

form button {
	background-color: #b000b5;
}
img {
	border: 30px solid #b000b5;
	width: 200px;
	height: relative;
	padding: 20px;
	position: relative;
}